@charset "UTF-8";

body, header, footer{
  font-family: monospace, helvetica;
}
p{color: white;}

body{ background-color: orange;}

h1{
  background-color: red;
  color: black;
}
/* STYLE PARA EL NAV */
.indicenav li{
  display: inline-flex;
  justify-content: center;
}

.indicenav li a{
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  color: white;
  background-color: grey;
}

.indicenav li a:hover{
  background-color: black;
  color: grey;
}
.indicenav{
  display: flex;
  justify-content: center;
}
/* BUSQUEDA */
#Busqueda{
  margin: 10px 5px 20px 5px;
}

/* FOOTER */
footer{
  background-color: grey;
  color: white;
  margin-top: 150px;
  text-align: center;
}
