{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block linkcss %}<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">{% endblock %}
    <meta charset="utf-8">
    <title>{% block titulo %}{% endblock %}</title>
  </head>
  <body>
    {% block cabecera %}{% endblock %}
    <nav id="main" class="indicenav">
      <li><a href="{% url 'inicio' %}">Inicio</a></li>
      <li><a href="{% url 'cervezas' %}">Cervezas</a></li>
      <li><a href="{% url 'brevehistoria' %}">Un poco de historia</a></li>
      <li><a href="{% url 'acerca' %}">Acerca de nosotros</a></li>
      <li><a href="{% url 'registro' %}">Registro</a></li>
      <li><a href="{% url 'ingresar' %}">Ingresar</a></li>
      <li><a href="{% url 'salir' %}">Salir</a></li>
      <li><a href="{% url 'contacto' %}">Contacto</a></li> <!-- en vez de dejarlo en la barra dejar parte abajo de las paginas?-->
    </nav>
    <form id="busqueda" action="/buscar/" method="get">
        <input type="text" name="busca">
        <input type="submit" value="Buscador de Cervzas">
    </form>

    {% block contenido %}{% endblock %}
    {% block pie%}
      <footer>Proyecto final Cervezeria &copy; 2020</footer>
    {% endblock %}
  </body>
</html>
