{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <meta charset="utf-8">
    <title>{% block titulo %}{% endblock %}</title>
  </head>
  <body>
    {% block cabecera %}{% endblock %}
    <nav class="indicenav">
      <li><a href="{% url 'inicio' %}">Inicio</a></li>
      <li><a href="{% url 'cervezas' %}">Cervezas</a></li>
      <li><a href="{% url 'brevehistoria' %}">Un poco de historia</a></li>
      <li><a href="#">Acerca de nosotros</a></li>
      <li><a href="#">Registro</a></li>
      <li><a href="#">Ingresar</a></li>
      <li><a href="#">Salir</a></li>
      <li><a href="#">Contacto</a></li> <!-- en vez de dejarlo en la barra dejar parte abajo de las paginas?-->
    </nav>
    {% block contenido %}{% endblock %}
    {% block pie%}
      <footer>Proyecto final Cervezeria &copy; 2020</footer>
    {% endblock %}
  </body>
</html>
