{% extends 'base.html' %}

{% load static %}
<!-- ERROR NO ME ESTA CARGANDO EL CSS index.css -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> -->
{% block titulo %}Cervezeria El Choborra {% endblock %}
{% block cabecera %}<h1>Cervezas</h1>{% endblock %}
{% block contenido %}
<style media="screen">
  h1{
    color:white;
  }
</style>
<p>A continuacion se detalla una lista de las cervezas que ofrecemos junto a una breve descrpicion de las mismas</p>
  <!-- ACA HACER UNA TABLA QUE DE INFO DE CERVEZAS QUE SE ENCUENTREN EN LA BASE DE DATOS -->
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
      {% for cervezas in cervezas %}
        <tr>
          <td>{{cervezas.tipo}}</td>
          <td>{{cervezas.marca}}</td>
          <td>{{cervezas.nombre}}</td>
          <td>{{cervezas.color}}</td>
          <td>{{cervezas.descripcion}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
