{% extends 'base.html' %}

{% load static %}
<!-- ERROR NO ME ESTA CARGANDO EL CSS index.css -->
{% block titulo %}Resultados{% endblock %}
{% block cabecera %}<h1>Resultados</h1>{% endblock %}
{% block contenido %}
<style media="screen">
  h1{
    color:white;
  }
  .cuadroresultados{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: silver;
  }
  .cuadroresultados p{color:black;}
  li{
    text-decoration: none;
  }
   li p{
    color: black;
  }
</style>
  <p><u>Su busqueda tiene los siguientes resultados:</u> </p>
<div class="cuadroresultados">
  {% if res %}
    <p>Cerveza {{res|pluralize}} encontrada{{res|pluralize}}: {{res|length}}</p>
    <ul id="resultado">
      {% for a in res %}
      <li>
        <p>Tipo: {{a.tipo}}</p>
        <p>Nombre: {{a.nombre}}</p>
        <p>Marca: {{a.marca}}      <!--  {% for i in a.marca.all %}
                      {{i.nombre}}
                      {{i.tipo}}
                  {% endfor %}-->
        <p>Color: {{a.color}}</p>
        <p>Descripcion: {{a.descripcion}}</p>
      </li>
      {% endfor %}
    </ul>
  {% else %}
      <p>Ningun resultado que coincida</p>
  {% endif %}
</div>

{% endblock %}
